:root {
  --main-bg-color: #4F5A69;
  --main-text-color: #fff;
  --main-btn-color: #FDCE14;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-wrapper {
  background-color: var(--main-bg-color);
  display: flex;
  width: 1000px;
}

#left-article {
  background-color: #1D2733;
  background-image: url("images/left-bg.png");
}

#right-article {
  background-color: #263142;
}

.left-container {
  margin: 100px 50px 50px 50px;
}

.right-container {
  margin: 50px;
}

article {
  width: 50%;
}